.word {
    margin:0;
    padding:0;
    text-align: center;
    color: whitesmoke;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:url(20484734.jpg);
    
    height: 100vh;
}
.full{
    background-color:rgb(12, 12, 12)  ;
}
.textfield{
   
    font-family: montserrat;
    font-size: 16px;
    color:white;
    text-align:justify;
    margin-left: 450px;
    margin-top: 0px;
    padding: 50px;
    
    
}
.pic{
    
    margin-right: 550px;
    margin-top:-497px ;
}
.ftco-section{
    
    color: white;
    font-family: montserrat;
    margin-left: 450px;
    margin-top: -450px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tool{
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: montserrat;
    
}

.image{
    background-color: rgb(12, 12, 12);
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    color: white;
    background-color: rgb(12, 12, 12);
    padding-top: 50px;
    padding-bottom: 50px;
}

footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    display: inline;
    background-color: white;
    padding: 12px 16px;
    margin: 0 30px;
    cursor: pointer; 
    transition: all 0.7s ease;
}
footer ul li:hover{
    background-color:darkgray;
}
footer ul li a{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: blue;
}
